@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
html{
	height:100%
}
header, footer, section, aside, nav, article {
	display:block;
}
body {
	height:100%;
	background-color:#D9570C;
	color:#222419;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
}
#wrapper {
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:-100px;
	background-color: #DED4CB;
	height: auto;
	width: 815px;
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:3px 3px 7px #000;
	-webkit-box-shadow:3px 3px 7px #000;
	box-shadow:3px 3px 7px #000;
}
#imagewrapper{
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
}
#slidewrapper img{
	float:left;
	margin-top:5px;
	margin-bottom:15px;
}
#contact_header{
	
	display:block;
	width:815px;
	font-size:11px;
	float:left;
}
#contact_header a{
	text-decoration:none;
	color:#fff;
	font-weight:bold;
}
#webpage{
	text-align:center;
}
#currentpg_h1{
	margin-top:50px;
	margin-bottom:15px;
}
#images_bottom {
	float:left;
	margin-top:15px;
}
footer {
	height:100px;
	clear:both;
	position:relative;
	width:815px;
	margin-top:20px;
	text-align:center;
	font-size:10px;
}
#footer_nav {
	background:none;
}
#footer_nav a {
	text-decoration:none;
	font-variant:small-caps !important;
	color:#6B4A28;
	font-size:11px;
	font-weight:bold;
}
#footer_nav a:hover {
	color:#fff;
}
/* Main content starts here:

Index page */
#summary {
	width:800px;
	height:300px;
	padding-top:30px;
}
#summary a{
	margin-top:1em;
}
#summary #speech{
	width:220px;
}
#summary #hearing{
	width:220px;
}
#speech {
	width:140px;
	float:left;
	margin-left:0;
	font-size:12px;
}
#speech a{
	text-decoration:none;
	color:#6B4A28;
	font-variant:small-caps;
}
#hearing{
	width:160px;
	float:left;
	font-size:12px;
	margin-left:15px;
}
#hearing a{
	text-decoration:none;
	color:#6B4A28;
	font-variant:small-caps;
}
#ourservices {
	width:330px;
	float:left;
	margin-left:15px;
	font-size:12px;
}
#ourservices a{
	text-decoration:none;
	color:#6B4A28;
	font-variant:small-caps;
}
#ourservices ul{
	list-style:inside;
	list-style-type:square;
	font-size:12px;
	font-style:italic;
}
#ourservices p{
	font-weight:bold;
	margin-top:.5em;
}
#ourservices p a{
	font-weight:normal;
}
#services {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	height:240px;
	width:200x;
	background:#fff;
	padding:20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:3px 3px 7px #000;
	-webkit-box-shadow:3px 3px 7px #000;
	box-shadow:3px 3px 7px #000;
}
#contact_info{
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	height:300px;
	width:200x;
	background:#fff;
	padding:20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:3px 3px 7px #000;
	-webkit-box-shadow:3px 3px 7px #000;
	box-shadow:3px 3px 7px #000;
}
#imgkatijah{
	float:left;
	margin-left:15px;
}
#aboutkatijah{
	width:280px;
	float:left;
	font-size:12px;
	margin-left:5px;
}
#aboutkatijah a, h2 {
	text-decoration:none;
	color:#6B4A28;
	font-variant:small-caps;
}
#katijahcv {
	width:815px;
	margin-left:auto;
	margin-right:auto;
	margin-top:.5em;
}
#katijahcvimg {
	width:400px;
	float:left;
	margin-left:5px;
	/*margin-top:1em;*/
}
#aboutk{
	margin-top:20px;
}
#aboutus{
	line-height:1.5em;
}
#aboutus li{
	list-style:outside;
	list-style-type:square;
	margin-left:20px;
}
#aboutus a{
	text-decoration:none;
	color:#6B4A28;
}
#contactaddress{
	width:180px;
	float:left;
	font-size:11px;
	margin-left:70px;
}
#contactaddress h2{
	text-decoration:none;
	color:#6B4A28;
}
#contactaddress pre a{
	font-variant:normal;
	font-weight:150px;
	color:#000;
	text-decoration:none;
}
.centered{
	text-align:center;
}
#nameTextField #name{
	width:300px;
}
#emailTextField #email{
	width:300px;
}
#telephoneTextArea #telephone{
	width:300px;
}
#educationLink {
	width:330px;
	float:left;
	margin-left:5px;
}
#educationLink a{
	text-decoration:none;
}
#educationLink li{
	list-style:square;
	list-style-position:outside;
	margin-left:15px;
	margin-top:1em;
}
#educationLink h3{
	color:#6B4A28;
	font-weight:200px;
}